h1{
	color:#542323;
	font-size:300%;
	margin: auto;
	border: 3px solid #542323;
	text-align: center;
}
p{
	color:#577482;
	font-size:200%;
}
body{
	background-color: #D6AD7C;
}
span{
	border: 3px solid #577482;
}
/*BOUTON OK*/
input[type=button]{
	width:40px;
	background:#cc0000;
	font:bold 75% Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}
span>input[type=button]{
	width:90px;
}

select {
  display: inline-block;
  width: 5%;
  cursor: pointer;
  padding: 0% 1% 0% 1%;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #e6e6e6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 50%;
}
select::-ms-expand {
  display: none;
}

table, td {
  border: 1px solid black;
}
th{
	 border: 3px solid black;
}
.drag{
	background:#40A497;
}

.EmplacementTable{
	border: 1px solid black;
	background: #E06666;
	position: absolute;
}
#EmplacementTables{
	height: 800px;
}

#EmplacementTables span{
	border:none;
}