h1{
	color:#542323;
	font-size:300%;
	margin: auto;
	border: 3px solid #542323;
	text-align: center;
}
p{
	color:#577482;
	font-size:200%;
}
body{
	background-color: #D6AD7C;
}
span{
	border: 3px solid #577482;
}

