h1{
	color:#542323;
	font-size:300%;
	margin: auto;
	border: 3px solid #542323;
	text-align: center;
}
p{
	color:#577482;
	font-size:200%;
}
body{
	background-color: #D6AD7C;
}
span{
	border: 3px solid #577482;
}
/*BOUTON OK*//*
input[type=button]{
	width:40px;
	background:#cc0000;
	font:bold 75% Arial;
	border-radius:50%;
	border:none;
	color:#fff;
}*/
input[type=button]{
	margin:2px;
}

input[id=btnSuppr]{
	width:20px;
	height:16px;
	background:#cc0000;
	font:bold 75% Arial;
	border-radius:50%;
	border:none;
	color:#fff;
	right:10px;
	position: absolute;
}

span>input[type=button]{
	width:90px;
}

select {
	display: inline-block;
	width: 5%;
	cursor: pointer;
	/* padding: 0% 1% 0% 1%; */
	outline: 0;
	border: 0;
	border-radius: 0;
	background: #e6e6e6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 50%;
}
select::-ms-expand {
	display: none;
}

table {
	padding: 2px;
}

th input[type=text] {
	border: 2px solid black;
	font-weight: bold;
}
.btnCol{
	height:20px;
	width:100%;
	display:none;
}

.btn:hover .btnCol{
	position:relative;
	display:block;
	box-sizing:border-box;
}

.btnCol img{
	/*position:relative;*/
	background:rgba(255, 228, 196, 0.2);
	margin:2px;
	padding:2px;
	display:inline-block;
	width: 16px;
	height:16px;
}
.btnCol img:hover{
	border:1px solid rgba(60 ,60,60,0.8);
}

.tri{
	float:left;
}
.reverseTri{
	float:left;
}

.suprCol{
	float:right;
}

/*td {
	border: 1px solid black;
}
th{
	border: 3px solid black;
}*/
.drag{
	/*background:#40A497;*/
	background:rgba(60 ,60,60,0.8);
}

.relation{
	/*background: #E06666;*/
	background: rgba(105,105,105,0.8);
	display:block;
}

.EmplacementTable{
	position: absolute;
	z-index:1;
}
#EmplacementTables{
	height: 800px;
}

#EmplacementTables span{
	border:none;
}

.nomTable {
	text-align:center;
	background:rgba(255, 228, 196, 0.2);
	padding:2px 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
    top:-23px;
	display: block;
	box-sizing:border-box;
}

.bcBouton{
	box-sizing:border-box;
}

.btnCote {
	float:left;
	display:block;
	position:absolute;
	top:20px;
	left:-31px;
}


/****************************************************
 **              Menu des options                  **
 ****************************************************/

/* bouton pour afficher/cacher */
#btnOptions {
    position: absolute; 
    top: 1vh;
    left: 1vh;
    cursor: pointer;
}
#btnOptions::before {
    content: '\2630';
    text-align: center;
    border: solid 2px #000;
    font-size: 3vh;
    padding: 0vh 1vh 0.6vh 1vh;
    border-radius: 4px;
}

/* zone des options */
#options {
    --bg-color: #1e3250;
    --fg-color: white;
    position: fixed;
    /* display: none; */
    overflow-y: scroll;
    box-sizing: border-box;
    /* top: 50%; */
    left: 65%;
    /* transform: translate(16%, -50%); */
    border-radius: 10px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#options > * {
    margin: 2vh;   
    min-width: 20vw; 
}
#options h2 {
    text-align: center;   
}
#options label {
    margin: 0 1vh; 
    display: inline;
    cursor: pointer;
}
#cbOptions:checked ~ #options {
    display: flex;   
}
#cbOptions:checked ~ main {
    display: none;   
}
#options .bouton {
    display: inline-block;
    border: solid 1px white;
    padding: 1vh 2vh;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 5px white;
}
#options .bouton:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

.boutonLock{
	background:url(../ressources/images/btnModifLock.png) no-repeat;
	display:block;
	text-align:center;
	vertical-align:middle;
	height:16px;
	width:16px;
	float:right;
	margin:4px 2px 2px 2px;
}

.boutonLock:hover{
	background:url(../ressources/images/btnModifUnlock.png) no-repeat;
}

.boutonUnlock{
	background:url(../ressources/images/btnModifUnlock.png) no-repeat;
	display:block;
	text-align:center;
	vertical-align:middle;
	height:16px;
	width:16px;
	float:right;
	margin:4px 2px 2px 2px;
}

.boutonUnlock:hover{
	background:url(../ressources/images/btnModifLock.png) no-repeat;
}








